In [10]:
import joblib 
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [11]:
model = joblib.load("usedcar_ml_model2.pkl")
df = pd.read_csv("clean_train_data.csv")
del df['Unnamed: 0']
x = df.drop("Price",axis=1)
y = df['Price']

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=51)

x_train.shape,y_train.shape,x_test.shape,y_test.shape

((4048, 113), (4048,), (1012, 113), (1012,))

In [13]:
sc = StandardScaler()
sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [14]:
df.shape

(5060, 114)

In [15]:
def car_price(year,km,seats,mileage,eng,power,location,brand,mod,fuel,trans,owner):
    index_list = []
    arr = np.zeros(113)

    arr[0] = year
    arr[1] = km
    arr[2] = seats
    arr[3] = mileage
    arr[4] = eng
    arr[5] = power

    if "Location_" + location in x.columns:
        index = np.where(x.columns == "Location_"+location)[0][0]
        arr[index] = 1
        index_list.append((index,"loc"))

    if "Brand_" + brand in x.columns:
        index = np.where(x.columns == "Brand_" + brand)[0][0]
        arr[index] = 1
        index_list.append((index,"brand"))

    if "Model_" + mod in x.columns:
        index = np.where(x.columns == "Model_" + mod)[0][0]
        arr[index] = 1
        index_list.append((index,"mod"))

    if "Fuel_Type_" + fuel in x.columns:
        index = np.where(x.columns == "Fuel_Type_" + fuel)[0][0]
        arr[index] = 1
        index_list.append((index,"fuel"))

    if "Transmission_" + trans in x.columns:
        index = np.where(x.columns == "Transmission_" + trans)[0][0]
        arr[index] = 1
        index_list.append((index,"trans"))

    if "Owner_Type_" + owner in x.columns:
        index = np.where(x.columns == "Owner_Type_" + owner)[0][0]
        arr[index] = 1
        index_list.append((index,"owner"))

    arr = sc.transform([arr])[0]
    return model.predict([arr])[0]

In [16]:
car_price(2015,41000,5,19.67,1586,126.2,"Pune","Hyundai","Creta","Diesel","Automatic","First")
#12.5

12.447200000000004

In [17]:
car_price(2010,72000,5,26.6,998,58.16,"Mumbai","Maruti","Swift","Petrol","Manual","First")
#1.91

1.8629999999999998

In [9]:
car_price(2013,40670,5,17.74,1968,140.8,"Coimbatore","Audi","A4","Diesel","Automatic","Second")
#16.

16.189100000000003

In [10]:
car_price(2016,178000,5,25,1396,69,"Chennai","Tata","Indica","Diesel","Manual","First")
# 2.5

2.4532999999999987

In [15]:
car_price(2018,29161,5,19.27,2143,167.62,"Coimbatore","Mercedes-Benz","New C-Class","Diesel","Automatic","First")
#39.41

38.972799999999964

In [42]:
df2 = pd.read_csv("new_clean_data.csv")

In [19]:
car_price(2022,0,5,23.2,1197,88.5,"Mumbai","Maruti","Swift","Petrol","Manual","First")

8.7722